.animatedName {
  font-family: Le Murmure, sans-serif;
  font-size: 1.3em;
  display: inline-block;
  color: #fff;
  background: linear-gradient(to right, #fff 50%, #252525 50%);
  background-size: 200% 100%;
  background-position: 0% 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.25s cubic-bezier(0.4, 0, 0, 1);
}

.dimmed {
  background-position: 100% 0;
}

.hovered {
  background-position: 0% 0;
}
