.section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-section);
  padding: 10rem 40px;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: -0.02em;
}

.title span {
  color: orange;
}

.title .char {
  position: relative;
  display: inline;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #fff);
  background-size: 0% 100%;
}
.grid {
  columns: 1;
  column-gap: 1.5rem;
  width: 100%;
  position: relative;
  z-index: 99;
}

.grid > * {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .grid {
    columns: 2;
  }

}

@media (min-width: 1200px) {
  .grid {
    columns: 3;
  }
}

@media (max-width: 767px) {
    .title {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
  .section {
    padding: 5rem 1rem 0 1rem;
  }
  .container {
  max-width: 100%;
  }
}