.footer {
    background-color: black;
    color: var(--color-text-secondary);
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--color-text-secondary);
}

.footerContent {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.9rem;
}

.footer span {
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    .footerContent {
        max-width: 100%;
    }
}